.chrome-extension-banner {
  display: none !important;
}

.css-juf3bo-title {
  display: none !important;
}

.css-18sat9h-roomName {
  font-weight: bold !important;
  letter-spacing: -0.02em !important;
  text-align: left !important;
  font-size: 1.75em !important;
}
